VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_HUME_API_KEY=
VITE_YOUTUBE_API_KEY=
VITE_SPOTIFY_CLIENT_ID=
VITE_SPOTIFY_CLIENT_SECRET=
VITE_SPOTIFY_ARTIST_ID=
VITE_HEDRA_API_KEY=
VITE_GENKIT_API_KEY=